*o
*.out
*xmf
*h5
*.png
*.avi
*.svg
*.npy
*.mat
*.png
/CMakeFiles
/post
CMakeCache.txt
cmake_install.cmake
Makefile
/analysis/CMakeFiles
/analysis/CMakeCache.txt
/analysis/cmake_install.cmake
/analysis/Makefile
.vscode

